@model IEnumerable<SubCategory>

@{
    ViewData["Title"] = "Index";
    string name = "Sub Category";
}

<header class="jumbotron">
    <section class="border background-white">
        <div class="row">
            <div class="col-6">
                <h1>Sub Category List</h1>
            </div>
            <div class="col-6">
                <partial name="_AddButton" model="name" />
            </div>
        </div>
    </section>
</header>

<section class="background-white background-border">
    <div class="row">
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Category.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            <partial name="_TableButtons" model="item.Id.ToString()" />
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <p>
                @*<partial name="_AddButton" model="name" />*@
            </p>
        </div>
    </div>
</section>
            
