@model string

<div class="form-group">

    <a class="btn btn-info" asp-action="Index">
        <i class="fas fa-backward"></i>
        &nbsp;Back
    </a>

    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model" >
        <i class="fas fa-edit"></i>
        &nbsp;Edit
    </a>

</div>
