<footer class="border-top footer text-muted">
    <div class="container text-center">
        <p>
            Copyright &copy; 2019 - Dr Derek Peacock - Spice Core MVC3
            <br />
            <a asp-area="Customer" asp-controller="Home" asp-action="Privacy">
                Privacy Policy |
            </a>
            <a asp-area="Customer" asp-controller="Home" asp-action="Cookies">
                Cookies Policy |
            </a>
            <a asp-area="Customer" asp-controller="Home" asp-action="Contact">
                Contact Us
            </a>
            <a asp-area="Customer" asp-controller="Home" asp-action="About">
                About Us |
            </a>
            <a asp-area="Admin" asp-controller="MenuItems" asp-action="Index">
                Admin Portal
            </a>
        </p>
    </div>
</footer>
