<footer class="border-top footer text-muted">
    <div class="container text-center">
        &copy; 2019 - Dr Derek Peacock - Spice Core MVC3  <a asp-area="Admin" asp-controller="MenuItems" asp-action="Index">Admin Portal</a>
    </div>
</footer>
