@model string

<div class="form-group">
    <a class="btn btn-info" asp-action="Index">
        <i class="fas fa-backward"></i>&nbsp;Back
    </a>
    <input type="submit" value="@Model" class="btn btn-success" />
</div>
