<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
    <img src="~/images/Mild.png" />
    <img src="~/images/spicy.png" />
    <img src="~/images/verySpicy.png" />
    <label style="cursor:pointer">Spice Core MVC3</label>
</a>
