@model SpiceCoreMVC3.Web.Models.MenuItem

@{
    ViewData["Title"] = "Create Menu Items";
}

<header class="jumbotron">
    <h1>Add Menu Items</h1>

</header>


<hr />
<div class="row">
    <div class="col-lg-6">

        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <partial name="_MenuItemForm" />
        </form>
    </div>
</div>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>
}

