@model SpiceCoreMVC3.Web.Models.MenuItem

@{
    ViewData["Title"] = "Edit Menu Item";
}

<header class="jumbotron">
    <h1>Edit Menu Items</h1>
</header>

<hr />
<div class="row">
    <div class="col-5 offset-1">
        <form asp-action="Edit"enctype="multipart/form-data">
            <partial name="_MenuItemForm" model="Model" />
           
        </form>
    </div>
    <div class="col-6">
        <img src="~/images/@Model.ImageURL" width="100%" alt="Image of Menu Item" />
    </div>
</div>

@* TinyMCE HTML Editor *@

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'edit format'
        });
    </script>
}
