@model SpiceCoreMVC3.Web.Models.MenuItem

@{
    ViewData["Title"] = "Create Menu Items";
}

<h1>Add Menu Items</h1>

<h4>MenuItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create" enctype="multipart/form-data">
            <partial name="_MenuItemForm" />
            
        </form>
    </div>
</div>


@section Scripts{ 
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>
}

