@model SpiceCoreMVC3.Web.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*@if(Model.Coupons.ToList().Count > 0)
{
    <div class="boder">
        <div class="carousel" data-ride="carousel" data-interval="2500">
            @for (int i = 0; i < Model.Coupons.Count(); i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupons.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }

                        <img src="@imgsrc" height="50px" class="d-block w-100" />
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupons.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }

                        <img src="@imgsrc" height="50px" class="d-block w-100" />
                    </div>

                }
            }
        </div>
    </div>
}*@
<br/><br/>

<div class="background-white container">

    <ul class="list-inline text-center">
        <li class="menu-filter-list active btn btn-secondary ml-1 mr-1">Show All</li>
        @foreach(var item in Model.Categories)
        {
            <li class="menu-filter-list ml-1 mr-1">@item.Id</li>
        }
    </ul>
    <br/>
    @foreach(var item in Model.Categories)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_MenuItemCard" 
                     model="@Model.MenuItems.Where(u=>u.Category.Id.Equals(item.Id))" />
        </div>
    }
</div>

