@model SpiceCoreMVC3.Web.Models.MenuItem

@{
    ViewData["Title"] = "Menu Item Details";
}

<header class="jumbotron">
    <h1>Menu Item Details</h1>
</header>

<div class="row">
    <div class="col-md-6">
        <form method="post">

            <input asp-for="Id" hidden />
            <input asp-for="Description"/>
            <input asp-for="ImageURL"/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <h4 class="text-info">Item Name</h4>
                <input asp-for="Name" class="form-control" readonly />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4 class="text-info">Spicyness</h4>
                @Html.DropDownList("Spicyness", Html.GetEnumSelectList<SpicyRating>(),
                    new { @class = "form-control" })
            </div>

            <div class="form-group">
                <h4 class="text-info">Category</h4>
                <input asp-for="CategoryId" class="form-control" readonly />
            </div>

            <div class="form-group">
                <h4 class="text-info">Sub Category</h4>
                <span class="form-control">@Model.SubCategory.Name</span>
            </div>

            <div class="form-group">
                <h4 class="text-info">Price (£)</h4>
                <input asp-for="Price" class="form-control" readonly />
            </div>
            <p>
                <a asp-action="Index" asp-controller="Home" asp-area="Customer" class="btn btn-info">Back to Menu</a>
                <button type="submit" class="btn btn-success">Add to Cart</button>
            </p>
        </form>
    </div>
    <div class="col-md-6">
        <img src="~/images/@Model.ImageURL" width="100%" alt="Image of Menu Item" />
        <div class="border p-2">
            <h4 class="text-info">Description</h4>
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>

<br/><br/>
